* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: inter-light;
  src: url(/Inter/static/Inter-Light-slnt=0.ttf);
}
@font-face {
  font-family: inter-semiBold;
  src: url(/Inter/static/Inter-SemiBold-slnt=0.ttf);
}
main {
  position: relative;
}
.card-slider{
  position: relative;
  /* overflow: hidden; */
}
.card {
  height: 100vh;
  width: 100%;
  
  position: absolute;
  border: 1px solid red;
}

.card-image {
  height: 50%;
  background: url(/images/pattern-bg.svg) no-repeat center top/contain;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-image img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  overflow: hidden;
  border-radius: 10px;
}
.testominial {
  height: 50%;
  font-size: 25px;
  padding: 50px 20px;
  font-family: inter-light;
  /* border: 1px solid red; */
  text-align: center;
  background: url(/images/pattern-quotes.svg) no-repeat center 30px, url(/images/pattern-curve.svg) no-repeat 0px 100%;
}

.testominial h5 {
  margin-top: 20px;
  font-size: 20px;
  font-family: inter-semiBold;
}
.testominial span {
  font-family: inter-semiBold;
  font-size: 20px;
  color:  hsl(240, 18%, 77%);
}
.navigation {
  position: absolute;
  top: 21%;
  left: 40%;
  padding: 10px 10px;
  z-index: 4;
  border: 1px solid red;
  background: #ffffff;
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
}
.navigation button{
  outline: none;
  cursor: pointer;
  color: hsl(240, 18%, 77%);
  background: transparent;
  border: transparent;
  padding: 10px 20px 10px 20px;
}
@media  (max-width: 350px) {
  .card-image{
    background: url(/images/pattern-bg.svg) no-repeat center top/cover;
  }  
}
@media (min-width: 620px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "testominial card-image" ;
  }
  .card-image{
    height: 100vh;
    background: url(/images/pattern-bg.svg) no-repeat center center/contain;
    /* border: 1px solid red; */
    grid-area: card-image;
  }
  
  .testominial {
    height: 100%;
    display: flex;
    grid-area: testominial;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* border: 1px solid red; */
    text-align: left;
    background: url(/images/pattern-quotes.svg) no-repeat center 35%, url(/images/pattern-curve.svg) no-repeat 0px 100%;
  }
  .testominial-details {
    height: 50%;
    width: 100%;
    font-size: calc(20px + 1vw);
    padding: 20px;
    margin-right: -22%;
    /* border: 1px solid red; */
    /* visibility: hidden; */
  }
  .name-tag {
    display: flex;
    align-items: flex-end;
  }
  .name-tag h5{
    margin-right: 10px;
  }
  .navigation {
    top: 43%;
    left: 60%;
    background: aquamarine;
    border-radius: 35px;
  }
}